*{
padding: 0%;
    margin: 0%;
}
@font-face{
font-family: Typewriter;
src: url(JMH\ Typewriter.otf);

}
@font-face {
    font-family: Avacodo;
    src: url(Avocade\ Free.otf);
}


.Pizza{ 
    margin-left: 15px;
margin-bottom: 15px;

}

h1{
text-align: center;
margin: 10px;

}

#head1{
font-size: 40px;
margin-top: 50px;
margin-bottom: 20px;
font-family:Typewriter;


}
body{
background-color:#212529;
color:white;


}

button{
margin-right: 30px;
background-color:#6D2CF1;
padding-left: 5px;
padding-right: 5px;
color: white;
}

a{ 
padding-left: 10px;
color:white;
text-align: center;
font-size: 30px;
text-decoration: none;
margin-right: 40px;
font-family:Avacodo;

}

.Searchbar{
    text-align:right;
    background-color:#6D2CF1;
    width: 100%;
    height: 60px;
    border-radius: 10%;
    border: 2px solid;
    padding-top: 32px;
    position:relative;
    padding-bottom: 0%; 
    margin-top: 10px;
    

}

input{

    margin-bottom: 45px;
    color: #5320B6;
}

p{

font-family: Arial, Helvetica, sans-serif;

}
